
div.editor {
    position: relative;
    margin: 100px auto 0px;

    > div {
        box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.08);        
        border-radius: 5px;
        width: 48%;
        min-width: 400px;
        margin: 15px auto 0px;
        background: white;   
        box-sizing: border-box;
        padding: 10px 10px;
    }
    font: {
        size: 80%;
        family: 'Open Sans', sans-serif;
    }
    button#save-post {
        color: navy;
        font: {
            family: 'Roboto', sans-serif;
            size: 80%;
        }
        padding: 20px auto;
        
        background: whitesmoke;
        border-radius: 5px;
        width: 175px;
        margin: 10px auto 0px;
        display: block;
        border: none;
        outline: none;
        line-height: 2;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);        
        transition: 0.2s all;
        &:active {
            animation: 0.2s click-save normal forwards ease-in-out;
        }
    }
    textarea, .hiddenDiv {
        margin: auto;
        padding: 1.2rem 1rem;
        display: block;
        color: #444444;
        font: {
            size: 80%;
            family: 'Raleway', sans-serif;
            weight: 300;
        }
        background-color: whitesmoke;
        border: none;
        border-radius: 5px;
        //border-bottom: 1px solid lightgrey;
        box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
        width: 90%;
        outline: none;
        white-space: pre-wrap;
        word-wrap: break-word;
        //height: 200px;
        overflow: auto;
        resize: none;
        transition: 0.2s all;
        &::-webkit-scrollbar {
            width: 0 !important;
        }  
    }
    
    div.markdown-render {
        color: rgb(44, 44, 44);
        width: 90%;
        margin: 10px auto;
        word-wrap: break-word;
        padding: 5px 10px;
        h1 {
            font: {
                size: 180%;
                family: 'Open Sans', sans-serif;
                weight: 300;
            }
            letter-spacing: 1px;
        }
        pre {
            position: relative;
            font: {
                size: 80%;
            };
            box-sizing: border-box;
            border: none;
            code {
                overflow-x: scroll;
            }
            &:after {
                content: ' ';
                height: 10px;
                width: 10px;
                border-radius: 5px;
                position: absolute;
                top: 10px;
                left: 10px;
                background: #ff5f56;
                z-index: 100;
            }
            &:before {
                content: ' ';
                height: 10px;
                width: 10px;
                border-radius: 5px;
                position: absolute;
                top: 9px;
                left: 25px;
                background: #27c93f;
                z-index: 100;
            }
        }

    }
}

@media only screen and (max-width: 600px) {
    div.editor {
        flex-direction: column;
        > div{
            width: 100%;
        }
    }
}