.link-tray {
    .tray {
        background: whitesmoke;
        position: absolute;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        transform: perspective(400px) rotateX(60deg);
        height: 50px;
        margin-bottom: -20px;
        bottom: 0;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
    }
    >div {
        position: relative;
        height: 50px;
        display: flex;
        direction: row;
        justify-content: center;
        align-items: bottom;
    }
    z-index: 4;
    position: fixed;
    bottom: 20px;
    width: 250px;
    
    left: 50%;
    margin-left: -125px;
    transition: all 0.2s;
    a {
        vertical-align: bottom;
        position: relative;
        z-index: 5;
        color: #BCAAA4;
        display: flex;

        //-webkit-text-stroke-width: 1px;
        //-webkit-text-stroke-color: grey;
        transition: all 0.2s;
        font: {
            size: 150%;
        }
        .fab {
            transition: all 0.2s;
            align-self: flex-end;
            mix-blend-mode: difference;
            text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.2);
            &:hover {
                font-size: 120%;
            }
        }
    }
    &:hover {
        .tray {
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
        }
    }
}