.link-tray {
    >div {
        position: relative;
        height: 90px;
        display: flex;
        direction: row;
        justify-content: center;
        align-items: bottom;
    }
    z-index: 4;
    position: fixed;
    top: 0px;
    max-width: 250px;
    
    left: 10px;
    transition: all 0.2s;
    a {
        vertical-align: middle;
        position: relative;
        z-index: 5;
        color: #5f5f5f;
        display: flex;
        margin: auto 10px;
        //-webkit-text-stroke-width: 1px;
        //-webkit-text-stroke-color: grey;
        transition: all 0.2s;
        font: {
            size: 80%;
        }
        border-radius: 50%;
        border: 1px solid #5f5f5f;
        height: 32px;
        width: 32px;
        text-align: center;
        transition: all 0.2s;
        .fab {
            margin: auto;
        }
        &:hover {
            color: white;
            background: #5f5f5f;
            font-size: 90%;
            .fab {
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .link-tray {
        width: 100%;
        bottom: 0;
        left: 0;
    }
}