div.full-post {
    position: relative;
    color: rgb(65, 65, 65);
    margin: auto;
    width: 60%;
    font: {
        size: 75%;
    }
    h1 {
        color:#d32f2f;
        width: 100%;
        display: block;
        border-bottom: 1px solid lightgrey;
        font: {
            size: 200%;
            family: 'Open Sans', sans-serif;
            weight: 300;
        }
    }
    > button {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        margin: 10px -5px 0px 10px;
        background: none;
        color: #9e9e9e;
        border: none;
        outline: none;
        font: {
            size: 60%
        }
        transition: all 0.2s;
        &:hover {
            color: #757575;
            background-color: whitesmoke;
        }
        
    }
    pre {
        position: relative;
        font: {
            size: 80%;
        };
        box-sizing: border-box;
        border: none;
        code {
            overflow-x: scroll;
        }
        &:after {
            content: ' ';
            height: 10px;
            width: 10px;
            border-radius: 5px;
            position: absolute;
            top: 10px;
            left: 10px;
            background: #ff5f56;
            z-index: 100;
        }
        &:before {
            content: ' ';
            height: 10px;
            width: 10px;
            border-radius: 5px;
            position: absolute;
            top: 9px;
            left: 25px;
            background: #27c93f;
            z-index: 100;
        }
    }
    > div {
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);        
        margin: 10px auto;
        box-sizing: border-box;
        border-radius: 5px;
        >div {
            padding: 10px 5%;
        }
    }

    div.comment {
        font: {
            size: 80%;
        }
        padding: 10px;
    }
    div.post-interact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
        background: whitesmoke;
        >div {
            padding: 10px 0px;
        }
        
        i.fab, i.fas {
            transition: all 0.2s;
            &:hover {
                color: #2196f3;
            }
            &:active {
                animation: blap 0.2s normal forwards ease-in-out;
                //color: $funny;
            }
        }
        span {
            margin: auto 5px;
        }
        font: {
            size: 90%;
        }
    }
    div.comment-section {
        overflow: hidden;
        box-sizing: border-box;
        padding: 10px 20px
    }
}

@media only screen and (max-width: 600px) {
    div.full-post {
        width: 100%;
    }
}