div.full-post {
    position: relative;
    color: #3b3b3b;
    margin: 100px auto 50px;
    width: 60%;
    
    .google-slides-container{
        position: relative;
        width: 100%;
        padding-top: 60%;
        overflow: hidden;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
        background: none;
        border-radius: 5px;
        transition: all 0.5s;
        &:hover {
            box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.18);
        }
    }
    
    .google-slides-container iframe{
        position: absolute;
        top: -2px;
        left: -1px;
        right: -1px;
        transform: scale(1.01);
        width: 100%;
        height: 100%;
    }
    > button {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        margin: 10px -5px 0px 10px;
        background: none;
        color: #9e9e9e;
        border: none;
        outline: none;
        font: {
            size: 60%
        }
        transition: all 0.2s;
        &:hover {
            color: #757575;
            background-color: whitesmoke;
        }  
    }

    
    .article {
        border-radius: unset;
        box-sizing: border-box;
        padding: 0 0 5em;
        border-bottom: 1px solid lightgrey;
        position: relative;
        line-height: 1.5;
        &:after {
            position: absolute;
            bottom: 0;
            content: 'the end';
            text-transform: uppercase;
            font-size: 1.2em;
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        font: {
            family: 'Lato', sans-serif;
            size: 0.9em;
        }
        h1 {
            text-align: left;
            color: #424242;
            width: 100%;
            display: block;
            box-sizing: border-box;
            line-height: 1;
            font: {
                size: 2.5em;
                family: 'Work Sans', sans-serif;
                weight: 700;
            }
        }
        h2 {
            font: {
                size: 180%;
            }
            display: block;
            border-bottom: 1px solid lightgrey;
        }
        p {
            display: block;
            box-sizing: border-box;
            transition: all 0.2s;
            margin: 1.6em auto;
            > code {
                background-color: whitesmoke;
                display: inline-block;
                border-radius: 5px;
                box-sizing: border-box;
                padding: 1px 2px;
            }
                
        }
    
    }

    .markdown-render > p:first-of-type::first-letter {
        color: #202121;
        float: left;
        font-size: 3em;
        line-height: 1em;
        padding-right: 4px;
        margin-left: -2px;
    }
    pre {
        display: block;
        position: relative;
        margin: 0 2.5em;
        font: {
            size: 80%;
        };
        box-sizing: border-box;
        border: none;
        border-radius: 3px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        code {
            overflow-x: scroll;
        }
        &:after {
            content: ' ';
            height: 1em;
            width: 1em;
            border-radius: 0.5em;
            position: absolute;
            top: 0.75em;
            left: 1em;
            background: #ff5f56;
            z-index: 2;
        }
        &:before {
            content: ' ';
            height: 1em;
            width: 1em;
            border-radius: 0.5em;
            position: absolute;
            top: 0.75em;
            left: 2.5em;
            background: #27c93f;
            z-index: 2;
        }
    }
    > div {
        //box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);        
        margin: 10px auto;
        box-sizing: border-box;
        border-radius: 5px;
        >div {
            padding: 10px 5%;    
        }
    }

    .himmi {
        position: relative;
        width: 100%;
        img {
            display: block;
            margin: auto;
        }
    }

    div.hashtags {
        > span {
            display: inline-block;
            box-sizing: border-box;
            padding: 0.2em 1em;
            border-radius: 2em;
            text-align: center;
            background: #e6e6e6;
            margin: auto 0.2em;
            font: {
                size: 0.8em;
                weight: 600;
            }
        }
        .like-post {
            box-shadow: none;
            border: 1px solid lightgrey;
            border-radius: 2em;
            color: #424242;
            background: transparent;
            text-transform: none;
            font: {
                weight: 700;
                size: 0.7em;
            }
            transition: all 0.2s cubic-bezier(0.0, 0.0, 0.2, 1); 
        }   
    }

    div.outline {
        position: relative;
        margin: 4em 2em;
        padding: 0.1em 1em 1.5em;
        background: whitesmoke;
        h2 {
            color: #424242;
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: 5px 10px;
            font: {
                size: 1em;
            }
            text-align: center;
            border-bottom: none;
        }
        span {
            display: block;
            width: 100%;
            padding: 0.7em;
            text-overflow: ellipsis;
            overflow: hidden; 
            white-space: nowrap;
            font: {
                size: 0.8em;
                weight: 700;
            }
            a {
                color: #3949ab;
            }
            text-align: left;
            box-sizing: border-box;
            border-bottom: 1px solid lightgrey;
            transition: 0.2s all;
            &:hover {
                background: rgb(241, 241, 241);
            }
        }
    }


    .supp {
        position: fixed;
        right: 3%;
        top: 5em;
        width: 15%;
        font-size: 0.8em;
        color: grey;
        h2 {
            display: block;
            text-align: middle;
            color: #424242;
            font: {
                size: 1.6em;
                family: 'Work Sans';
                weight: 600;
            }
        }
        p {
            margin: 0.5em 0;
        }
        .like-post {
            margin: 0.5em 0;
            font-size: 0.8em;
        }   
    }

    div.comment-section {
        background: inherit;
        margin-top: 2em;
        position: relative;
        font: {
            size: 0.8em;
        }
        transition: all 0.2s;
        height: auto;
        overflow: hidden;
        box-sizing: border-box;
        padding: 10px 20px;
        h3.channel {
            display: block;
            box-sizing: border-box;
            padding: 0 40px;
        }
        
    }
}

@media only screen and (max-width: 600px) {
    div.full-post {
        width: 100%;
    }
}