.bob {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 400px;
    height: 600px;
    box-shadow: 0 12px 28px 0 rgba(0,0,0,.2),0 2px 4px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    padding: 4em 1em 0.5em 1em;
    border-radius: 0.8em;
    background: white;
    font-family: 'Baloo Bhaina 2';
    font-size: 1.1em;
}