.bob {
    .bob-menu {
        position: absolute;
        top: 0.25em;
        margin: 0;
        width: 100%;
        right: 0;
        box-sizing: border-box;
        padding: 0.2em 0.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        button {
            position: relative;
            color: #bdbdbd;
            min-width: 0;
            padding: 0.8em;
            border-radius: 50%;
            transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
            opacity: 0.7;
            svg {
                font-size: 1.7em;
                
            }
            img {
                height: 1.5em;
                vertical-align: middle;
                filter: grayscale(100%);
                transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
            }
            &.focus {
                opacity: 1;
                color: #004ecb;
                box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
                img {
                    filter: drop-shadow(0.05rem 0.05rem 0.1rem rgba(0, 0, 0,0.4));
                }
            }
        }
        .view-more {
            min-width: 0;
        }
    }
}