@keyframes ent {
    0% {transform: scale(1.5); opacity: 0}
    100% {transform: scale(1); opacity: 1}
}

@keyframes ext {
    0% {transform: scale(1); opacity: 1}
    100% {transform: scale(1.5); opacity: 0}
}

.vid {
    position: relative;
    margin: 4em auto 0;
    width: 100%;
    .video-player {
        position: relative;
        margin: 1em auto auto 1em;
        width: 60%;
        .player-wrapper {
            padding: 0 0;
            max-height: 700px;
            height: 400px;
            transition: all 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);
            border-radius: 3px;
            overflow: hidden !important;
            box-shadow: 0 80px 40px -50px rgba(0,0,0,.2);
            .loading {
                width: 100%;
                position: absolute;
                background: white;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                .loading-icon {
                    width: 1.5em !important;
                    position: absolute;
                    left: 50%;
                    margin-left: -0.75em;
                    top: 50%;
                    margin-top: -0.75em;
                    svg {
                        color: red;
                    }
                }
            }
            .react-player {
                //position: absolute;
                background: black;
                //margin-bottom: -5px;
                overflow: hidden !important;
                border-radius: 3px;
                video {
                    display: block;
                    margin: auto !important;
                }
            }
        }
        .controls {
            position: absolute;
            background: transparent;
            height: auto;
            box-sizing: border-box;
            padding: 0;
            width: 100%;
            bottom: 0;
            height: 1em;
            border-radius: 2px;
            transition: all 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);
            > div {
                display: none;
            }
            
            &:hover {
                background: linear-gradient(to top, whitesmoke 0%, transparent 100%);
                height: 2.5em;
                .progress-bar {
                    display: block;
                    position: absolute;
                    z-index: 0;
                    height: 0.3em;
                    border-radius: 0.15em;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    right: 0,5em;
                    transition: all 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);
                    .seek {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 100%;
                        background: #424242;
                    }
                }
                .control-buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    font: {
                        size: 0.7em;
                    }
                    button {
                        padding: 0;
                        margin: auto 5px;
                    }
                    svg {
                        margin: auto;
                        padding: 0em 0.2em;
                        color: #212121;
                    }
                }
            }
            
        }
    }
    .right-panel {
        position: absolute;
        width: 35%;
        right: 0.5em;
        top: 0em;
        z-index: 2;
        min-height: 700px;
        > div {
            box-sizing: border-box;
            padding: 0.5em;
            position: relative;
            color: #424242;
            line-height: 1;
        }
        .course-info {
            border-bottom: 1px solid lightgrey;
            font: {
                family: 'Work Sans', sans-serif;
                size: 0.8em;
            }
            h1 {
                color: #666666;
                font-size: 2em;
            }
            .favorite-and-bookmark {
                position: absolute;
                bottom: 1em;
                right: 2em;
                display: table-cell;
                >div {
                    display: inline-block;
                    vertical-align: middle;
                }
                .bookmark {          
                    svg {
                        height: 2.5em !important;
                        width: 2.5em !important;
                        * {
                            fill: #ffd54f;
                            stroke: #424242;
                        }
                    }
                }
                .favorite {
                    svg {
                        height: 3em !important;
                        width: 3em !important;
                    }
                }
            }
            
        }
        .review {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            button {
                padding: 0 1.5em 0 2em;
                position: relative;
                border-radius: 2em;
                border: 1px solid lightgrey;
            }
            .learned-something {
                .yo {
                    width: 2em;
                    height: auto;
                }
                font-size: 0.6em;   
                color: #424242;
                background: #f5f5f5;
                box-shadow: none;
                font-weight: 700;
                transition: 0.2 all cubic-bezier(0.0, 0.0, 0.2, 1);
                &.on {
                    background: #fffde7;
                }
            }
        }
        
    }
    .main-panel {
        margin-top: 7em;
        position: relative;
        background-color: #eeeeee;
        width: 100%;
        min-height: 400px;
        .ask-question {
            position: absolute;
            width: 36%;
            margin-left: -18%;
            left: 50%;
            top: -1.2em;
            box-sizing: border-box;
            padding: 0em 0.5em;
            background: #f1f0f0;
            border-radius: 1.2em;
            box-shadow:  0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
            .question {
                display: flex;
                flex-direction: row-reverse;
                height: 2.4em!important;
                justify-content: start;
                .question-mark {
                    margin: auto;
                    width: 1.6em!important;
                    height: 80%;
                    min-width: 0;
                    fill: #424242;
                }
                &.active {
                    .question-mark {
                        @keyframes hotter {
                            0% {transform: scale(1); fill: #424242}
                            50% {transform: scale(0); fill: #424242}
                            100% {transform: scale(1); fill: #66BB6A}
                        }
                        animation: hotter 0.4s cubic-bezier(0, 0, 0.2, 1);
                        fill: #66BB6A;
                    }       
                }
            }
            input {
                outline: none;
                width: 100%;
                box-sizing: border-box;
                padding: 0 1em;
                border: none;
                margin: auto;
                background: transparent;
                color: #424242;
                font: {
                    size: 0.8em;
                }
            }
        }
        .questions {
            position: relative;
            top: 3em;
            .questions-menu {
                position: relative;
                margin-left: 15%;
                display: inline-block;
                border-bottom: 1px solid lightgrey;
                span {
                    position: relative;
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 0.5em 1em;
                    color: #424242;
                    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
                    font: {
                        family: 'Work Sans', sans-serif;
                        size: 0.8em;
                    }
                    &.active {
                        color: #BF360C;
                        &:before {
                            content: '';
                            position: absolute;
                            bottom: -1px;
                            width: 100%;
                            left: 0;
                            height: 2px;
                            border-radius: 1px;
                            background: #BF360C;
                        }
                    }
                }
            }
            .Qs {
                position: relative;
                width: 70%;
                margin: 0.5em auto 0;
                .Q {
                    position: relative;
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 0.5em 1em;
                    background: inherit;
                    box-shadow: none;
                    background: whitesmoke;
                    margin: 0.5em auto;
                    border-radius: 0.5em;
                    > span {
                        //border: 1px solid lightgrey;
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        > span {
                            display: inline-block;
                            padding: 0 0.5em;
                            color: #212121;
                            text-transform: none;
                            font: {
                                size: 0.9em;
                            }
                            &.question-status {
                                
                                &.answered {
                                    background: #388E3C;
                                    color: whitesmoke;
                                }
                                &.open {
                                    background: #D84315;
                                    color: whitesmoke;
                                }
                            }
                        }                     
                    }
                }
            }
        }
    }
}