@import '../animations/_animations';

.comment {
    position: relative;    
    >div{
        position: relative;
        height: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
        width: 100%;
        outline: none;
        display: block;
        border: none;
        box-sizing: border-box;
        padding: 0.6em;
        margin:0.7em auto;
        float: left;
        transition: all 0.2s;
        line-height: 1.5;
        font: {
            family: 'Work Sans', sans-serif;
            size: 1em;
        }     
        span {
            display: inline-block;
            margin: auto 2px;
        }
        span.username {
            display: block;
            box-sizing: border-box;
            padding: 0;
            color: black;
            font-size: 0.8em;
            font-weight: 600;
        }
        button.del {
            position: absolute;
            right: 5px;
            top: 50%;
            margin-top: -10px;
            border: none;
            background: none;
            outline: none;
            font {
                size: 80%;
            }
            color: lightgrey;
            &:hover {
                color: grey;
            }
        }
        .star-comment {
            padding: 0;
            position: absolute;
            bottom: -1.4em;
            left: 0.4em;
            border: none;
            background: transparent;
            box-shadow: none;
            font-size: 0.8em;
            svg {
                width: 0.9em !important;
                height: 0.9em !important;
                fill: lightgrey;
                stroke: lightgrey;
            }
        }
    }
    .enter-comment {
        box-sizing: border-box;
        border-radius: 0px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        position: relative;
        border-bottom: 2px solid lightgrey;
        textarea {
            font: {

                size: 100%;
            }
            position: relative;
            bottom: 0;
            display: block;
            box-sizing: border-box;
            padding: 0;
            margin: 5px auto;
            resize: none;
            border: none;
            outline: none;
            overflow: hidden;
            width: 100%;
            background: none;
            height: 100%;
            &::-webkit-scrollbar {
                width: 0 !important;
            }  
        
        }
        span.label {
            background: transparent;
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            transform-origin: 0 0;
            transition: all 0.2s;
        }
        span.border {
            position: absolute;
            z-index: 2;
            bottom: -2px;
            left: 0;
            height: 2px;
            transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
            background: rgb(138, 138, 138);
        }

        &:hover {
            background: rgb(250, 250, 250);
        }

        textarea:focus + span, textarea:not(:placeholder-shown) + span.label {
            transform: translateY(-120%) scale(0.75);
            font-weight: 700;
            + span.border {
                width: 100%;
            }
        }
    }
}