@import '../animations/_animations';

.comments {
    position: relative;    
    display: flex;
    flex-direction: column-reverse;
    .comment {
        position: relative;
        box-sizing: border-box;
        padding: 0.2em 0.5em 0.2em 1.8em;
        
        @keyframes comment-appear {
            0% {transform: translateY(2em); opacity: 0;}
            100% {transform: translateY(0); opacity: 1;}
        }
        animation: comment-appear 0.2s cubic-bezier(0, 0, 0.2, 1);
        .comment-replies {
            display: flex;
            flex-direction: column-reverse;
        }
        .comment, .enter-comment {
            background: whitesmoke;
            left: 2%;
            width: 98%;
        }
        position: relative;
        font: {
            family: 'Work Sans', sans-serif;
            size: 1em;
        }     
        span {
            display: block;
            margin: auto 2px;
            overflow-wrap: break-word;
            box-sizing: border-box;
        }
        span.username {
            padding: 0.3em 0;
            color: #424242;
            font-size: 1em;
            font-weight: 600;
            font-family: 'Baloo Chettan 2', sans-serif;
            b {
                color: rgb(158, 158, 158);
                font-size: 0.9em;
            }
            i {
                font-style: normal;
                display: inline-block;
                padding: 0.1em 0.5em;
                background: rgb(99, 99, 99);
                color: whitesmoke;
                border-radius: 1em;
            }
        }
        button.del {
            position: absolute;
            right: 5px;
            top: 2.5em;
            margin-top: -10px;
            border: none;
            background: none;
            outline: none;
            font {
                size: 80%;
            }
            color: lightgrey;
            &:hover {
                color: grey;
            }
        }
        .comment-interact {
            button {
                padding: 0em 0em;
                margin-right: 0.5em;
                background: transparent;
                box-shadow: none;
                font-size: 0.9em;
                display: inline-block;
                min-width: 0;
                color: #0077c2;
                .like {
                    display: inline-block;
                }
                
            }
            svg {
                height: 1em !important;
                width: 1em !important;
                fill: #0077c2;
                stroke: #0077c2;
            }
        }
        .ava {
            position: absolute;
            left: -1em ;
            top: 0.3em;
            height: 2em;
            width: 2em;
            text-align: center;
            vertical-align: middle;
            line-height: normal;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            padding: 0.3em 0 0;
            font-size: 1.2em;
        }
    }
    
}
.enter-comment {
    box-sizing: border-box;
    border-radius: 0px;
    position: relative;
    padding: 0.8em 0.5em;
    margin: 0.5em 0;
    textarea {
        font: {

            size: 100%;
        }
        left: 0em;
        position: relative;
        bottom: 0;
        display: block;
        box-sizing: border-box;
        padding: 0;
        resize: none;
        border: none;
        outline: none;
        overflow: hidden;
        background: none;
        width: 100%;
        height: 100%;
        &::-webkit-scrollbar {
            width: 0 !important;
        }  
    
    }
    span.label {
        background: transparent;
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 0.5em;
        transform: translateY(-50%);
        transform-origin: 0 0;
        transition: all 0.2s;
    }
    span.border {
        position: absolute;
        z-index: 2;
        bottom: -2px;
        margin: 0;
        left: 0;
        height: 2px;
        transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        background: #2979ff;
    }

    textarea:focus + textarea + span, textarea:not(:placeholder-shown) + textarea + span.label {
        transform: scale(0.75);
        top: -0.5em;
        font-weight: 700;
        + span.border {
            width: 100%;
        }
    }

    .question-sent {
        position: absolute;
        top: -2em;
        left: 0;
        border-radius: 2em;
        display: inline-block;
        @keyframes sent {
            0% {opacity: 0; transform: scale(1.2);}
            20% {opacity: 1; transform: scale(1);}
            100% {opacity: 0; transform: translateY(2em);}
        }
        animation: sent 1s cubic-bezier(0, 0, 0.2, 1);
    }
}