div.post {
    background: #F5F5F6;
    position: relative;
    color: rgb(80, 80, 80);
    width: 60%;
    //box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    border-radius: 2px;
    margin: 10px auto;
    box-sizing: border-box;
    padding: 10px;
    line-height: 1.2;
    border-top: 1px solid lightgrey;
    font: {
        family: 'Work Sans', sans-serif;
        size: 70%;
        weight: 700;
    }
    h1 {
        line-height: 1;
        margin: 0 0px 20px;
        color: #212121;
        font: {
            size: 200%;
            family: 'Work Sans', sans-serif
        }
    }
    > button {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        margin: 10px -5px 0px 10px;
        background: none;
        color: #9e9e9e;
        border: none;
        outline: none;
        font: {
            size: 60%
        }
        transition: all 0.2s;
        &:hover {
            color: #757575;
            background-color: whitesmoke;
        }
    }
   
    p > code {
        background-color: whitesmoke;
        display: inline-block;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 1px 2px;
    }
    
    pre {
        position: relative;
        font: {
            size: 80%;
        };
        box-sizing: border-box;
        border: none;
        code {
            overflow-x: scroll;
        }
        &:after {
            content: ' ';
            height: 10px;
            width: 10px;
            border-radius: 5px;
            position: absolute;
            top: 10px;
            left: 10px;
            background: #ff5f56;
            z-index: 100;
        }
        &:before {
            content: ' ';
            height: 10px;
            width: 10px;
            border-radius: 5px;
            position: absolute;
            top: 10px;
            left: 25px;
            background: #27c93f;
            z-index: 100;
        }
    }

    div.post-text {
        position: relative;
        transition: all 0.2s;
        padding: 10px 25px 25px;
        overflow: hidden;
        height: 120px;
        div.markdown-render {
            overflow: hidden;
        }
    }

    div.comment {
        font: {
            size: 80%;
        }
        padding: 0px;
    }
    div.post-interact {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
        background: rgb(255, 248, 248);
        >div {
            padding: 10px 0px;
        }
        
        i.fab, i.fas {
            transition: all 0.2s;
            &:hover {
                color: #2196f3;
            }
            &:active {
                animation: blap 0.2s normal forwards ease-in-out;
            }
        }
        span {
            margin: auto 5px;
        }
        font: {
            size: 90%;
        }
    }

    button.read-more {
        position: absolute;
        bottom: 0px;
        left: 25px;
        color: grey;
        width: auto;
        border: none;
        background: none;
        outline: none;
        box-sizing: border-box;
        padding: 5px 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: all 0.3s;
        font: {
            size: 90%;
            weight: 700;
        }
    }

    div.comment-section {
        margin: 20px auto 0;
        overflow: hidden;
        box-sizing: border-box;
        padding: 20px 10px;
        border-top: 1px solid rgb(235, 235, 235);
    }
}

@media only screen and (max-width: 600px) {
    div.post {
        width: 100%;
    }
}