.home {
    font: {
        size: 80%;
        family: 'Ubuntu Mono', sans-serif;
    }
    color: #444444;
    width: 60%;
    margin: 100px auto 50px;
    box-sizing: border-box;
    padding: 10px;
}