div.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 0px;
    background-color: white;
    border-bottom: 1px solid whitesmoke;

    button.option {
        position: relative;
        box-sizing: border-box;
        background: none;
        border: none;
        outline: none;
        display: inline-block;
        height: 100%;
        text-align: center;
        border-top:1px solid #00000000;
        padding: 0px 10px;
        margin-left: -1px;
        a {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            word-wrap: none;
            max-width: 150px;
            display: inline-block;
            margin: auto 0px;
            padding: 20px 5px;
            box-sizing: border-box;
            font-size: 120%;
            color: #202124;
            letter-spacing: 1px;
            //text-transform: uppercase;
            text-decoration: none;
            text-align: center;    
            font: {
                family: 'Varela Round', sans-serif;
            }
            transition: all 0.2s;
        }
        
        transition: all 0.2s;
        &:hover {
            border-top: 1px solid #448aff;
            a {
                color: #202124af;
            }            
        }
        &.active {
            a {
                color: #448aff;
            }
            &:after {
                content: ' ';
                position: absolute;
                z-index: 100;
                height: 10px;
                width: 10px;
                background: #448aff;
                bottom: 20px;
                left: 50%;
                margin-left: -5px;
                border-radius: 5px;
            }
        }
    }
}