.login-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../imgs/bg_.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .login {
        display: block;
        position: fixed;
        top: 4em;
        left: 10%;
        width: 30%;
        margin: auto;
        box-sizing: border-box;
        padding: 2em;
        border-radius: 8px;
        h1 {
            color: whitesmoke;
            font: {
                
            }
        }
        h2 {
            color: white;
            font: {
                weight: 400;
                size: 0.9em;
            }
        }
        .enter-username, .enter-password {
            font: {
                size: 0.7em;
            }
            line-height: 1.6;
            padding: 0;
            margin: 1.5em 0;
            box-sizing: border-box;
            border-radius: 0px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            position: relative;
            border-bottom: 2px solid black;
            input {
                font: {
    
                    size: 100%;
                }
                position: relative;
                bottom: 0;
                display: block;
                box-sizing: border-box;
                padding: 0.7em 10px;
                margin: auto;
                resize: none;
                border: none;
                outline: none;
                overflow: hidden;
                width: 100%;
                background: none;
                height: 100%;
                &::-webkit-scrollbar {
                    width: 0 !important;
                }  
            
            }
            span.label {
                background: transparent;
                z-index: 2;
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                transform-origin: 0 0;
                transition: all 0.2s;
            }
            span.border {
                position: absolute;
                z-index: 2;
                bottom: -2px;
                left: 0;
                height: 2px;
                transition: all 300ms cubic-bezier(.4,0,.2,1);
                background: #af4448;
            }
    
            &:hover {
                background: rgba(250, 250, 250, 0.08);
            }
    
            input:focus + span, input:not(:placeholder-shown) + span.label {
                transform: translateY(-120%) scale(0.75);
                font-weight: 700;
                color: #af4448;
                + span.border {
                    width: 100%;
                }
            }
        }
        .login-submit {
            margin: 1.2em auto;
            border-radius: 1.5em;
            line-height: 1.5;
            padding: 0.8em 3em 0.4em;
            background: #e57373;
            color: white;
            display: block; 

            font: {
                family: 'Work Sans', sans-serif;
                weight: 700;
                size: 0.7em;
            }
        }
    }
    
}