.connection-error {
    position: fixed;
    bottom: 10px;
    width: 60%;
    margin: auto auto 0;
    background: whitesmoke;
    border-radius: 8px;
    box-sizing: border-box;
    padding:10px 20px;
    display: none;
    p {
        color: #444444;
        font: {
            family: 'Open Sans';
            size: 60%;
        }
    }
}