.socio {
    position: relative;
    margin: 100px 0 4em;
    >div {
        position: relative;
        margin: 1em 0;
    }
    div.head-icons {
        position: absolute;
        top: 0.2em;
        left: 25%;
        margin: auto;
        width: 50%;
        z-index: 2;
        box-sizing: border-box;
        padding: 0 1em;
        button {
            height: 2.5em;
            width: 2.5em;
            border-radius: 15px;
            margin: 0 0.2em;
            background: none;
            color: #9e9e9e;
            border: none;
            outline: none;
            font: {
                size: 50%;
            }
            transition: all 0.2s;
            &:hover {
                color: #757575;
                background-color: whitesmoke;
            }
            
        }
    }
}