.auth {
    width: 200px;
    top: 100px;
    right: 5px;
    max-height: 300px;
    z-index: 100;
    background: white;
    box-shadow: 0px 0px 6px rgba(0,0,0, 0.08);
    position: fixed;
    bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    span, input {
        outline: none;
        border: none;
        font: {
            size: 70%;
        }
        display: block;
        color: #444444;
        margin: 10px auto;
    }
    input {
        background: whitesmoke;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 10px;
    }
    padding: 10px 10px;
    button {
        margin: auto;
        background: whitesmoke;
        display: block;
        box-sizing: border-box;
        padding: 10px;
        border: none;
        color: navy;
        font: {
        }
    }
}