div.post {
    width: 60%;
    border-top: 1px solid rgb(233, 233, 233);
    background: #fff;
    color: #202124;
    //border: 1px solid rgba(0,0,0,.1);
    box-shadow: -2px 6px 6px rgba(0, 0, 0, 0.08);        
    border-bottom-left-radius: 8px;
    box-sizing: border-box;
    margin: 25px auto;
    font-size: 90%;
    position: relative;
    transition: all 1s linear;
    > button {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        margin: 10px -5px 0px 10px;
        background: none;
        color: #9e9e9e;
        border: none;
        outline: none;
        font: {
            size: 60%
        }
        transition: all 0.2s;
        &:hover {
            color: #757575;
            background-color: whitesmoke;
        }
        
    }
    > div {
        width: 90%;
        margin: 0 auto;
        font: {
            size: 80%;
            family: 'Open Sans', sans-serif;
        }
        word-wrap: break-word;
        padding: 0px;
        box-sizing: border-box;
        h1 {
            color: rgba(0,0,0,0.6);
            display: block;
            line-height:2;
            letter-spacing: 1px;
            border-bottom: 1px solid #00000000;
            transition: all 0.2s;
            font: {
                size: 120%;
                family: 'Open Sans Condensed', sans-serif;
            }
        }
    }
    div.post-interact {   
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #616161;
        border-bottom-left-radius: 8px;
        width: 100%;
        box-sizing: border-box;
        background: whitesmoke;
        padding: 5px 20px;
        span {
            font: {
                size: 90%;
            }
            height: 100%;
            display: inline-block;
            margin: auto 5px;
        }

        i.fab {
            transition: all 0.2s;
            &:hover {
                color: #2196f3;
            }
            &:active {
                animation: blap 0.2s normal forwards ease-in-out;
                //color: $funny;
            }
        }
    }
    &:hover {
        h1 {
            border-bottom: 1px solid #ff5252;
            color: #fa6363;
        }
        box-shadow: -4px 12px 18px rgba(0, 0, 0, 0.08);        
    }
    pre {
        position: relative;
        font: {
            size: 80%;
        };
        box-sizing: border-box;
        border: none;
        code {
            overflow-x: scroll;
        }
        &:after {
            content: ' ';
            height: 10px;
            width: 10px;
            border-radius: 5px;
            position: absolute;
            top: 10px;
            left: 10px;
            background: #ff5f56;
            z-index: 100;
        }
        &:before {
            content: ' ';
            height: 10px;
            width: 10px;
            border-radius: 5px;
            position: absolute;
            top: 9px;
            left: 25px;
            background: #27c93f;
            z-index: 100;
        }
    }
}