  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { background: transparent }
    50% { background: #ffffff ; }
}

@keyframes fading {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes vibrate {
    from, to { margin-right: 0}
    50% {margin-right: 10px}
}

@keyframes rotating {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

@keyframes snapin {
    from {margin-right: -50px}
    to {margin-right: 0}
    70% {margin-right: 20px}
}

.showhide-ter {
    color: #5a5a5a;
    left: 50%;
    margin-left: -75px;
    outline: none;
    z-index: 10;
    display: block;
    position: absolute;
    width: 150px;
    box-sizing: border-box;
    padding: 10px;
    top: 0;
    background: none;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 60%;
        weight: 700;
    }
}

.hide-b0t {
    z-index: 5;
    width: 100%;
    position: fixed !important;
    bottom: 0;
    height: 25px;
    background: whitesmoke;
    overflow: hidden;
    *:not(.showhide-ter) {
        display: none;
    }
}

.notifs {
    z-index: 6;
    position: absolute;
    top: 25px;
    right: 0px;
    span {
        display: block;
        font: {
            family: 'Josefin Sans', sans-serif;
            size: 70%;
        }
        color: grey;
        box-shadow: 2px 2px 6px rgba(0,0,0, 0.08);
        box-sizing: border-box;
        padding: 5px 10px;
        border-radius: 8px;
        animation: fading 6s 1, vibrate 0.1s 3;
        background: rgb(255, 255, 255);
    }
}

.b0t {
    z-index: 5;
    position: fixed !important;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    right: 0px;
    border-top: 1px solid rgb(224, 224, 224);
    .showhide-ter {
        margin-top: -1.8em;
        background: whitesmoke;
        height: 1.8em;
        border-top: 1px solid rgb(224, 224, 224);
        border-right: 1px solid rgb(224, 224, 224);
        border-left: 1px solid rgb(224, 224, 224);
        color: #5a5a5a;
    }

    .chat-list {
        position: relative;
        box-sizing: border-box;
        background: whitesmoke;
        width: 20%;
        border-right: 1px solid rgb(221, 221, 221);
        span {
            position: relative;
            padding: 10px 25px 5px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font: {
                size: 75%;
                weight: 400;
                family: 'Josefin Sans', sans-serif;
            }
            &:before {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: rgb(114, 219, 162);
                position: absolute;
                right: 25px;
                top: 50%;
                margin-top: -5px;
            }  
            &[data-iscurr] {
                font-weight: 700;
            }
        }
        
    }
    .chat-section {
        position: relative;
        width: 80%;
        background: whitesmoke;
        display: flex;
        flex-direction: row;
        
        .oldchats {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            overflow-y: scroll;
            overflow-x: hidden;
            word-wrap: break-word;
            transition: all 0.2s;
            margin-bottom: 70px;
            padding: 0 10px;
            .same-person {
                margin-top: 10px;
            }
            .chat {
                position: relative;
                .iden {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin: 0px;
                    width: 60%;
                    
                    &.other-chat {
                        flex-direction: row-reverse;
                        justify-content: end;
                        .msg {
                            flex-direction: row-reverse;
                            justify-content: flex-end;
                        }
                    }
                }

                .user-and-date {
                    margin: 0 5px;
                    min-width: 1.8em;
                    position: relative;
                    box-sizing: border-box;
                    //padding: 5px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    font: {
                        size: 80%;
                    }
                    .user {
                        display: none;
                        font: {
                            size: 70%;
                        }
                        background: #212121;
                        position: absolute;
                        bottom: 0;
                        right: -10px;
                        z-index: 11;
                        color: whitesmoke;
                        margin: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100px;
                        min-width: 25px;}
                    .ava {
                        //margin: 3px;
                        
                        img {
                            //display: block;
                            margin: auto;
                        }  
                    }
                    &:hover {
                        .user {
                            display: inherit;
                        }
                    }
                }

                

                img {
                    width: 1.8em;
                    height: auto;
                    margin: auto;
                }
                //margin: 5px;
                i {
                    display: block;
                    margin: auto;
                    transform: rotate(-12deg);
                    color: #222222;
                }                    

                .msg {
                    line-height: 1.5;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin: 2px 5px;
                    //max-width: 300px;
                    word-break: break-word;
                    background: white;
                    box-sizing: border-box;
                    padding: 10px 10px;
                    
                    max-width: 65%;
                    a {
                        color: #2196f3;
                        transition: all 0.2s linear;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    > span {
                        flex: auto;
                        display: inline-block;
                        font: {
                            size: 60%;
                        }
                        text-align: left;
                        vertical-align: middle;
                        color: #222222;
                        margin: 0 5px;
                        overflow-wrap: break-word;
                    }
                    
                    .reply-to {
                        text-align: center;
                        position: absolute;
                        z-index: 3;
                        bottom: -1.2em;
                        background: rgb(248, 248, 248);
                        border-radius: 5px;
                        width: auto;
                        padding: 0 5px;
                        display: block;
                        color: rgb(153, 153, 153) !important;
                        font: {
                            size: 50%;
                            weight: 700;
                        }
                        &:hover {
                            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
                        }
                        i {
                            color: grey;
                            display: inline;
                            transform: none;
                        }
                    }
                    .like-dislike {
                        position: absolute;
                        z-index: 11;
                        left: -20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        top: 0;
                        height: 100%;
                    }
                } 
                .msg.bot {
                    border-top-left-radius: 20px;
                    &.first {
                        border-top-right-radius: 20px;
                    }
                    border-bottom-left-radius: 20px;
                    &.last {
                        border-bottom-right-radius: 20px;
                    }
                    background: lightgrey;
                    text-align: right;
                    span:not(.user) {
                        color: #222222;
                        font-weight: 700;
                        text-align: right;
                    }
                    .blink {
                        position: absolute;
                        bottom: 0.9em;
                        display: inline-block;
                        height: 1.2em;
                        width: 2px;
                        transform: scale(1.2);
                        transform-origin: 0% 50%;
                        animation: blink-caret 0.9s infinite;
                        margin-left: 0px;
                    }
                    .reply-to {
                        right: 10px;
                    }
                }

                .msg.others {
                    span:not(.user) {
                        text-align: right;
                    }
                    background: rgb(255, 255, 234);
                    border: 1px solid lightgrey;
                    border-bottom-left-radius: 20px;
                    border-top-left-radius: 20px;
                    &.first {
                        border-top-right-radius: 20px;
                    }
                    &.last {
                        border-bottom-right-radius: 20px;
                    }
                    .reply-to {
                        right: 10px;
                    }
                }

                .msg.me {
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px;
                    &.first {
                        border-top-left-radius: 20px;
                    }
                    &.last {
                        border-bottom-left-radius: 20px;
                    }
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.08);
                    .reply-to {
                        left: 10px;
                    }
                }
                .msg.bot.answer {
                    background: linear-gradient(23deg, #8c9eff 50%, #82b1ff 100%);
                    span{
                        color: #222222;
                    }
                    .blink{
                        color: #212121;
                    }
                }
            }
        }
        .newchat {
            z-index: 10;
            border: 1px solid lightgrey;
            background: inherit;
            position: absolute;
            bottom: 15px;
            margin: auto 3%;
            width: 94%;
            box-sizing: border-box;
            padding: 10px 15px;
            border-radius: 0.9em;
            display: flex;
            flex-direction: row;
            transition: 0.35s all ease-in-out;
            &.typing {
                border: 1px solid transparent;
                border-radius: unset;
                background: inherit;
                border-bottom: 1px solid rgb(190, 190, 190);
            }
            .referral {
                display: inline-block;
                border-radius: 5px;
                background: whitesmoke;
                min-width: 90px;
                padding: 5 5px;
                text-align: center;
                color: grey;
                font: {
                    family: 'Raleway', sans-serif;
                    size: 60%;
                    weight: 700;
                }
            }
            .send {
                margin: auto 5px;
                img {
                    display: block;
                    height: auto;
                    width: 1em;
                    margin: auto;
                    transform: rotate(-10deg);
                    transform-origin: top;
                }
            }
            
            textarea {
                color: rgb(54, 54, 54);
                background: none;
                width: 100%;
                box-sizing: border-box;
                display: block;
                margin: auto 5px;
                resize: none;
                border: none;
                outline: none;
                font: {
                    family: 'Raleway', sans-serif;
                    size: 70%;
                }
                float: left;
                text-align: left;
            }

            .hints {
                z-index: 3;
                box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.08);
                position: absolute;
                width: 100%;
                bottom: 100%;
                left: 0;
                padding: 0;
                background: linear-gradient(to top, whitesmoke, rgb(250, 250, 250) 20px);
                font: {
                    size: 70%;
                }
                div {
                    
                    transition: all 0.2s;
                    span {
                        color: grey;
                        display: inline-block;
                        box-sizing: border-box;
                        padding: 5px 10px;
                        word-wrap: break-word;
                        &.confid {
                            color: rgb(78, 158, 78);
                        }
                    }
                    &.focus {
                        border: 1px solid lightgrey;
                    }
                    &.help-hint {
                        //text-align: right;
                        position: absolute;
                        bottom: 100%;
                        width: 40%;
                        right: 0;
                        background: none;
                        float: right;
                        animation: snapin 1s 1;
                        span {
                            display: inline-block;
                            text-align: right;
                            font-size: 80%;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    .display-enter {
        @keyframes enter {
            0% {opacity: 0; transform: scale(1.2)}
            100% {opacity: 1; transform: scale(1)}
        }
        animation: enter 0.1s 1 linear;
    }
    .display-exit {
        @keyframes exit {
            0% {opacity: 1; transform: scale(1)}
            100% {opacity: 0; transform: scale(1.2)}
        }
        animation: exit 0.1s 1 linear;
    }
    .supp-info {
        background: white;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        min-height: 200px;
        z-index: 4;
        position: absolute;
        top: 15px;
        width: 28%;
        right: 25px;
        box-sizing: border-box;
        padding: 3em 0.6em 0.6em;
        overflow: hidden;
        margin: 0.5em;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        font: {
            size: 0.6em;
        }
        a {
            font-weight: 700;
        }
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
        }
        .close {

            vertical-align: center;
            text-align: center;
            width: 1.6em;
            height: 1.6em;
            background: none;
            outline: none;
            border: none;
            border-radius: 50%;
            position: absolute;
            font-size: 1em;
            top: 0.2em;
            right: 0.5em;
            z-index: 11;
            color: lightgrey;
            transition: 0.2s all linear;
            &:hover {
                background: whitesmoke;
            }
        }
        .relevant-course, .toread {
            a {
                display: inline-block;
                padding: 0 5px;
                background: white;
                border-radius: 5px;
                color: #2979ff;
                font: {
                    family: 'Sans Josefin', sans-serif;
                    weight: 700;
                    size: 90%;
                }
                word-wrap: break-word;
            }
            span {
                display: inline-block;
                margin: 5px;
                img {
                    height: 1.5em;
                    vertical-align: bottom;;
                }
            }
            ul {
                list-style: none;
            }
            li {
                //list-style-type: circle;
                position: relative;
                line-height: 1.5em;
                display: block;
                box-sizing: border-box;
                word-wrap: word-break;
                &:before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 0;
                    margin-left: -1.8em;
                    margin-top: -0.1em; 
                    height: 0.2em;
                    width: 1.4em;
                    background: #01579b;
                    border-radius: 0.1em;
                }
                &:after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 0;
                    margin-left: -1.2em;
                    margin-top: -0.7em; 
                    width: 0.2em;
                    height: 1.4em;
                    background: #f4511e;
                    border-radius: 0.1em;
                }
            }
        }
        
        .title-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            background: white;
            border-bottom: 1px solid rgb(228, 228, 228);
            
            img {
                display: block;
                width: 1.8em;
                height: auto;
                margin: 0.4em auto;
                animation: light-up 0.6s 3 cubic-bezier(0.6, -0.28, 0.735, 0.045);
                @keyframes light-up {
                    0% {transform: scale(1.25); opacity: 0.85}
                    100% {transform: scale(1); opacity: 1}
                }
            }
        }      
    }
}

.is-typing {
  position: relative;
  left: 55%;
}
.is-typing div {
  position: absolute;
  top: 0.5em;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background: grey;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.is-typing div:nth-child(1) {
  left: 0.15em;
  animation: lds-ellipsis1 0.6s infinite;
}
.is-typing div:nth-child(2) {
  left: 0.15em;
  animation: lds-ellipsis2 0.6s infinite;
}
.is-typing div:nth-child(3) {
  left: 0.6em;
  animation: lds-ellipsis2 0.6s infinite;
}
.is-typing div:nth-child(4) {
  left: 1.05em;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0.45em, 0);
  }
}
