  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { background: transparent }
    50% { background: #ffffff ; }
}

@keyframes fading {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes vibrate {
    from, to { margin-right: 0}
    50% {margin-right: 10px}
}

@keyframes rotating {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

@keyframes snapin {
    from {margin-right: -50px}
    to {margin-right: 0}
    70% {margin-right: 20px}
}

@keyframes enter {
    0% {opacity: 0; transform: translateY(20%)}
    100% {opacity: 1; transform: none}
}

@keyframes exit {
    0% {opacity: 1; transform: none}
    100% {opacity: 0; transform: translateY(20%)}
}

@keyframes up {
    0% {transform: translateY(100%); opacity: 0}
    100% {transform: translateY(0); opacity: 1}
}

@keyframes down {
    0% {max-height: 800px;}
    100% {max-height: 0;}
}

.notifs {
    z-index: 6;
    position: absolute;
    top: 25px;
    right: 0px;
    span {
        display: block;
        font: {
            family: 'Josefin Sans', sans-serif;
            size: 70%;
        }
        color: grey;
        box-shadow: 2px 2px 6px rgba(0,0,0, 0.08);
        box-sizing: border-box;
        padding: 5px 10px;
        border-radius: 8px;
        animation: fading 6s 1, vibrate 0.1s 3;
        background: rgb(255, 255, 255);
    }
}

.b0t {
    z-index: 5;
    position: fixed !important;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    right: 0px;
    background: #F5F5F6;
    border-top: 1px solid lightgrey;
    &:not(.hide) {
        animation: up 0.1s cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    .hide-ter {
        padding: 5px 8px;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        z-index: 15;
        top: 0;
        margin-top: -0.9em;
        background: #e57373;
        height: 1.8em;
        right: 5em;
        border-radius: 8px;
        color: black;
        min-width: 0;
        
        &:hover {
            background: #af4448;
        }
        svg {
            width: 0.8em;
            height: 0.8em;
        }
    }

    &.hide {
        z-index: 5;
        width: 100%;
        position: fixed !important;
        bottom: 0;
        max-height: 0;
        background: transparent;
        border: none;
        box-shadow: none;
        animation: down 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
        >div {
            display: none;
        }
        .show-ter {
            padding: 5px 8px;
            text-align: center;
            vertical-align: middle;
            position: absolute;
            z-index: 15;
            top: 0;
            margin-top: -0.75em;
            background: #f5f5f5;
            height: 1.8em;
            right: 5em;
            border-radius: 8px;
            color: black;
            min-width: 0;
            
            &:hover {
                background: #c2c2c2;
            }
            svg {
                width: 0.8em;
                height: 0.8em;
            }
        }
    
    }

    .chat-list {
        position: relative;
        box-sizing: border-box;
        width: 20%;
        border-right: 1px solid rgb(221, 221, 221);
        span {
            position: relative;
            padding: 10px 25px 5px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font: {
                size: 75%;
                weight: 400;
                family: 'Josefin Sans', sans-serif;
            }
            &:before {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: rgb(114, 219, 162);
                position: absolute;
                right: 25px;
                top: 50%;
                margin-top: -5px;
            }  
            &[data-iscurr] {
                font-weight: 700;
            }
        }
        
    }
    .chat-section {
        position: relative;
        width: 80%;
        background: white;
        display: flex;
        flex-direction: row;
        
        .oldchats {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            overflow-y: scroll;
            overflow-x: hidden;
            word-wrap: break-word;
            transition: all 0.2s;
            margin-bottom: 70px;
            padding: 0 10px;
            .same-person {
                margin-top: 10px;
            }
            .chat {
                position: relative;
                .iden {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin: 0px;
                    width: 70%;
                    transition: 0.3s all cubic-bezier(0.4, 0.0, 0.2, 1);
                    max-width: 800px;
                    &.insights-on {
                        max-width: 60%;
                    }
                    &.other-chat {
                        flex-direction: row-reverse;
                        justify-content: end;
                        .msg {
                            flex-direction: row-reverse;
                            justify-content: flex-end;
                        }
                    }
                }

                .user-and-date {
                    margin: 0 5px;
                    min-width: 1.8em;
                    position: relative;
                    box-sizing: border-box;
                    //padding: 5px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    font: {
                        size: 80%;
                    }
                    .user {
                        display: none;
                        font: {
                            size: 70%;
                        }
                        background: #212121;
                        position: absolute;
                        bottom: 0;
                        right: -10px;
                        z-index: 11;
                        color: whitesmoke;
                        margin: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100px;
                        min-width: 25px;}
                    .ava {
                        //margin: 3px;
                        
                        img {
                            //display: block;
                            margin: auto;
                        }  
                    }
                    &:hover {
                        .user {
                            display: inherit;
                        }
                    }
                }
                img {
                    width: 1.8em;
                    height: auto;
                    margin: auto;
                }
                //margin: 5px;
                i {
                    display: block;
                    margin: auto;
                    transform: rotate(-12deg);
                    color: #222222;
                }                    

                .msg {
                    line-height: 1.2;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin: 2px 5px;
                    //max-width: 300px;
                    word-break: break-word;
                    background: #f1f0f0;
                    box-sizing: border-box;
                    padding: 10px 10px;
                    
                    max-width: 65%;
                    
                    a {
                        color: #2196f3;
                        transition: all 0.2s linear;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    > span {
                        flex: auto;
                        display: inline-block;
                        font: {
                            size: 0.7em;
                        }
                        text-align: left;
                        vertical-align: middle;
                        color: #222222;
                        margin: 0 5px;
                        overflow-wrap: break-word;
                    }
                    
                    .reply-to {
                        text-align: center;
                        z-index: 3;
                        border-radius: 5px;
                        display: inline-block;
                        color: #2196f3 !important;
                        font: {
                            size: 1em;
                            weight: 700;
                        }
                        &:hover {
                            color: #3e9fee;
                        }
                        i {
                            color: grey;
                            display: inline;
                            transform: none;
                        }
                    }
                    .like-dislike {
                        position: absolute;
                        z-index: 11;
                        left: -20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        top: 0;
                        height: 100%;
                    }
                } 
                .msg.bot {
                    border-top-left-radius: 20px;
                    &.first {
                        border-top-right-radius: 20px;
                    }
                    border-bottom-left-radius: 20px;
                    &.last {
                        border-bottom-right-radius: 20px;
                    }
                    background: #c6c6c6;
                    text-align: right;
                    span:not(.user) {
                        color: #222222;
                        font-weight: 700;
                        text-align: right;
                    }
                    .blink {
                        position: absolute;
                        bottom: 0.9em;
                        display: inline-block;
                        height: 1.2em;
                        width: 2px;
                        transform: scale(1.2);
                        transform-origin: 0% 50%;
                        animation: blink-caret 0.9s infinite;
                        margin-left: 0px;
                    }
                    .reply-to {
                        right: 10px;
                    }
                }

                .msg.others {
                    span:not(.user) {
                        text-align: right;
                    }
                    background: rgb(255, 255, 234);
                    border: 1px solid lightgrey;
                    border-bottom-left-radius: 20px;
                    border-top-left-radius: 20px;
                    &.first {
                        border-top-right-radius: 20px;
                    }
                    &.last {
                        border-bottom-right-radius: 20px;
                    }
                    .reply-to {
                        right: 10px;
                    }
                }

                .msg.me {
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px;
                    &.first {
                        border-top-left-radius: 20px;
                    }
                    &.last {
                        border-bottom-left-radius: 20px;
                    }
                    .reply-to {
                        left: 10px;
                    }
                }
                .msg.bot.answer {
                    background: #f1f0f0;
                    border: 1px solid lightgrey;
                    span{
                        color: #424242
                    }
                    .blink{
                        color: white;
                    }
                }
            }
        }
        .newchat {
            z-index: 10;
            border: 1px solid lightgrey;
            background: white;
            position: absolute;
            bottom: 15px;
            margin: auto 3%;
            width: 94%;
            box-sizing: border-box;
            padding: 8px 15px;
            border-radius: 1em;
            display: flex;
            flex-direction: row;
            transition: 0.35s all ease-in-out;
            &:hover {
                box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
                border-color: transparent;
            }
            &.typing {
                border: 1px solid transparent;
                border-radius: unset;
                background: inherit;
                border-bottom: 1px solid grey;
                &:hover {
                    box-shadow: none;
                }
            }
            .referral {
                display: inline-block;
                border-radius: 5px;
                background: whitesmoke;
                min-width: 90px;
                padding: 0 5px;
                text-align: center;
                color: #424242;
                font: {
                    size: 0.7em;
                    weight: 700;
                }
            }
            .send {
                margin: auto 5px;
                img {
                    display: block;
                    height: auto;
                    width: 1em;
                    margin: auto;
                    transform: rotate(-10deg);
                    transform-origin: top;
                }
            }
            
            textarea {
                color: rgb(54, 54, 54);
                background: none;
                width: 100%;
                box-sizing: border-box;
                display: block;
                margin: auto 5px;
                resize: none;
                border: none;
                outline: none;
                font: {
                    size: 0.8em;
                }
                float: left;
                text-align: left;
            }

            .hints {
                z-index: 3;
                box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.08);
                position: absolute;
                width: 100%;
                bottom: 100%;
                left: 0;
                padding: 0;
                background: linear-gradient(to top, whitesmoke, rgb(250, 250, 250) 20px);
                font: {
                    size: 0.8em;
                }
                div {
                    
                    transition: all 0.2s;
                    span {
                        color: grey;
                        display: inline-block;
                        box-sizing: border-box;
                        padding: 5px 10px;
                        word-wrap: break-word;
                        &.confid {
                            color: rgb(78, 158, 78);
                        }
                    }
                    &.focus {
                        border: 1px solid lightgrey;
                    }
                    &.help-hint {
                        //text-align: right;
                        position: absolute;
                        bottom: 100%;
                        width: 40%;
                        right: 0;
                        background: none;
                        float: right;
                        animation: snapin 1s 1;
                        span {
                            display: inline-block;
                            text-align: right;
                            font-size: 80%;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    .insights-enter, .insights-enter-active {
        
        animation: enter 0.2s 1 cubic-bezier(0.0, 0.0, 0.2, 1);
    }
    .insights-exit {
        
        animation: exit 0.2s 1 cubic-bezier(0.0, 0.0, 0.2, 1);
    }
    .insights {
        color: #616161;
        background: white;
        box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
        z-index: 4;
        position: absolute;
        top: 2em;
        width: 28%;
        right: 25px;
        box-sizing: border-box;
        padding: 3em 0.6em 0em;
        >div {
            overflow: hidden;
        }
        margin: 0.5em;
        transition: box-shadow 200ms cubic-bezier(.4,0,.2,1),width 300ms cubic-bezier(.4,0,.2,1), background 0.2s cubic-bezier(.4,0,.2,1);
        font: {
            size: 0.6em;
        }
        a {
            font-weight: 700;
        }
        &:hover {
            background: rgb(250, 250, 250);
            box-shadow: 0 1px 3px 1px rgba(60,64,67,.2), 0 2px 8px 4px rgba(60,64,67,.1);
        }
        .close {
            vertical-align: center;
            min-width: 0;
            padding: 0;
            text-align: center;
            width: 2.4em;
            height: 2.4em;
            background: #ffb74d;
            outline: none;
            border: none;
            border-radius: 50%;
            position: absolute;
            font-size: 1em;
            top: 2.8em;
            margin-top: -1.2em;
            right: 1em;
            z-index: 11;
            color: lightgrey;
            transition: 0.2s all linear;
            color: black;
            &:hover {
                background: whitesmoke;
            }           
            svg {
                width: 0.8em;
                height: 0.8em;
            }
        }
        .relevant-course, .toread {
            a {
                display: inline-block;
                padding: 0 5px;
                background: white;
                border-radius: 5px;
                color: #2979ff;
                font: {
                    family: 'Sans Josefin', sans-serif;
                    weight: 700;
                    size: 90%;
                }
                word-wrap: break-word;
            }
            span {
                display: inline-block;
                margin: 5px;
                img {
                    height: 1.5em;
                    vertical-align: bottom;;
                }
            }
            ul {
                list-style: none;
            }
            li {
                //list-style-type: circle;
                position: relative;
                line-height: 1.5em;
                display: block;
                box-sizing: border-box;
                word-wrap: word-break;
                &:before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 0;
                    margin-left: -1.8em;
                    margin-top: -0.1em; 
                    height: 0.2em;
                    width: 1.4em;
                    background: #01579b;
                    border-radius: 0.1em;
                }
                &:after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 0;
                    margin-left: -1.2em;
                    margin-top: -0.7em; 
                    width: 0.2em;
                    height: 1.4em;
                    background: #f4511e;
                    border-radius: 0.1em;
                }
            }
        }
        
        .title-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            background: transparent;
            border-bottom: 1px solid rgb(228, 228, 228);
            
            img {
                display: block;
                width: 2em;
                height: auto;
                margin: 0.4em auto;
                animation: light-up 0.6s 3 cubic-bezier(0.6, -0.28, 0.735, 0.045);
                @keyframes light-up {
                    0% {transform: scale(1.25); opacity: 0.85}
                    100% {transform: scale(1); opacity: 1}
                }
            }
        }      
    }
}

.is-typing {
    position: relative;
    left: 65%;
    &.insights-on {
        left: 55%;
    }
}
.is-typing div {
  position: absolute;
  top: 0.5em;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background: grey;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.is-typing div:nth-child(1) {
  left: 0.15em;
  animation: lds-ellipsis1 0.6s infinite;
}
.is-typing div:nth-child(2) {
  left: 0.15em;
  animation: lds-ellipsis2 0.6s infinite;
}
.is-typing div:nth-child(3) {
  left: 0.6em;
  animation: lds-ellipsis2 0.6s infinite;
}
.is-typing div:nth-child(4) {
  left: 1.05em;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0.45em, 0);
  }
}
