body, html {
    min-width: 400px;
    min-height: 600px;
    font: {
        size: 24px;
        family: 'Open Sans', sans-serif;
    }
    a {
        text-decoration: none;
        color: #1e88e5;
    }
    background-color: #fff;
}

#main {
    margin: 100px auto 0;
}

section.view {
    display: none;
    &.display {
        display: inherit;
    }
}

form {
    font: {
        family: 'Open Sans', sans-serif;
        size: 100%;
    }
    position: fixed;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 8px;
    
    bottom: 20px;
    right: 10px;
    background: whitesmoke;
    border: none;
    button {
        background: white;
        border: none;
        box-sizing: border-box;
        padding: 10px;
    }
}
